#app {
	margin: auto;
	/*height: 100%;*/
	min-height: ;
	width: 400px;
	display: block;
	text-align: center;
	/*position: static;*/
	position: fixed;
	left: calc(50% - 200px);
	top: 0px;
	height: 100vh;
	overflow: hidden;
}



#container {
	position: static;
}

#mobileHeader, #mobileFooter {
	width: inherit;
	margin: auto;
}

#mobileHeader {
	/*box-shadow: 10px 0px 30px 0px rgba(0,0,0,0.3);*/
	border-width: 0px;
	background-color: rgba(0,0,0,0);
}



/*.ui-collapsible-content {
	box-shadow: 10px 0px 30px 0px rgba(0,0,0,0.3);
}*/

#alertPopoutText {
	/*display: none;*/
}

#alertBox {
	width: 100%;
}

.ui-collapsible-heading {
	text-align: left;
	border-radius: 0px 20px 20px 0px;
}

#alertBox .ui-collapsible-content {
	background-color: rgba(255,255,255,0.7);
	box-shadow: 10px 0px 30px 0px rgba(0,0,0,0.3);
}

#svcChecklist .ui-collapsible-heading {
	border-radius: 0px;
}

.feature-list {
	text-align: left;
	border-radius: 0px;
	/*width: 100%;*/
}

.ui-icon-check {
	background-color: green;
}

.feature-title {
	border-radius: 0px;
	width: 100%;
}


#map {
	position: margin;
	static: auto;
	height: 100%;
}

/*-------------------- MEDIA QUERIES --------------------*/
@media only screen and (max-width: 750px){

	#app {
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		right: 0;
		position: fixed; /*position: static;*/
	}
}