#app {
	margin: auto;
	/*height: 100%;*/
	min-height: ;
	width: 400px;
	display: block;
	text-align: center;
	/*position: static;*/
	position: fixed;
	left: calc(50% - 200px);
	top: 0px;
	height: 100vh;
	overflow: hidden;
}

#container {
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	width: inherit;
	min-height: 100vh;
	margin: auto;
	padding: 0px;
	text-align: center;
	overflow: hidden;
}


#mobileHeader, #mobileFooter {
	width: inherit;
	margin: auto;
}

#mobileHeader {
	border-width: 0px;
	background-color: rgba(0,0,0,0);
}

#alertPopoutText {
	/*display: none;*/
}

#alertBox {
	width: 100%;
}

.ui-collapsible-heading {
	text-align: left;
	border-radius: 0px 20px 20px 0px;
}

#alertBox .ui-collapsible-content {
	background-color: rgba(255,255,255,0.7);
	box-shadow: 10px 0px 30px 0px rgba(0,0,0,0.3);
}

#svcChecklist .ui-collapsible-heading {
	border-radius: 0px;
}

.feature-list {
	text-align: left;
	border-radius: 0px;
	/*width: 100%;*/
}

.ui-icon-check {
	background-color: green;
}

.feature-title {
	border-radius: 0px;
	width: 100%;
}


#map {
	position: margin;
	static: auto;
	height: 100%;
}

#searchButton {
	pointer-events: all;
	/*top: 50vh;*/
	position: absolute;
	top: -75px;
	left: calc(50% - 30px);
	margin: auto;
	width: 30px;
	height: 40px;
	box-shadow: 0px 1px 10px 5px rgba(0,0,0,0.2);
	border-radius: 50%;
	background: rgba(255,255,255,0.5);
	/*position: static;*/
}

#pingContainer {

}

#searchPingImg {
	width: 100%;
	height: 100vh;
	margin: auto;
	position: fixed;
	top: 0;
	left: 0;
}

#pingCircle {
	fill: rgba(255,255,255,1.0);
	cx: 50%;
	cy: 50%;
	r: 0;
}

.pCircle.run {
	animation: ping ease 1s 1;
}

.captureCircle {
	position: absolute;
}

.playerPopup {
	text-align: center;
}

.playerPopup .leaflet-popup-content {
	text-align: center;
	padding: 10px 10px 5px 10px;
	line-height: 1.5em;
}


/*-------------------- ANIMATIONS --------------------*/
@keyframes blink{
	to{color:red;}
}

@keyframes ping{
	0% {
		fill: rgba(255,255,255,1.0);
		r: 0;
	}
	100% {
		fill: rgba(255,255,255,0.0);
		r: 800;
	}
}


/*-------------------- MEDIA QUERIES --------------------*/
@media only screen and (max-width: 750px){

	#app {
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		right: 0;
		position: fixed; /*position: static;*/
	}
}


/*.ui-collapsible-content {
	box-shadow: 10px 0px 30px 0px rgba(0,0,0,0.3);
	}*/