

#app {
	font-family: 'Open Sans',sans-serif;
	font-weight: 300;
	margin: auto;
	/*height: 100%;*/
	min-height: ;
	width: 400px;
	display: block;
	text-align: center;
	/*position: static;*/
	position: fixed;
	left: calc(50% - 200px);
	top: 0px;
	height: 100vh;
	overflow: hidden;
}

#container {
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	width: inherit;
	min-height: 100vh;
	margin: auto;
	padding: 0px;
	text-align: center;
	overflow: hidden;
}


#mobileHeader, #mobileFooter {
	width: inherit;
	margin: auto;
}

#mobileHeader {
	border-width: 0px;
	background-color: rgba(0,0,0,0);
}

#alertPopoutText {
	/*display: none;*/
}

#alertBox {
	width: 100%;
}

.ui-collapsible-heading {
	text-align: left;
	border-radius: 0px 20px 20px 0px;
}

#alertBox .ui-collapsible-content {
	font-family: 'Open Sans',sans-serif;
	font-weight: 400;
	background-color: rgba(255,255,255,0.7);
	box-shadow: 10px 0px 30px 0px rgba(0,0,0,0.3);
	text-shadow: none;
}

#alertBox .ui-collapsible-content.urgent-alert {
	color: white;
	background-color: rgba(255,0,0,0.7);
}

#alertBox .ui-collapsible-content.success-alert {
	color: white;
	background-color: rgba(255,255,0,0.7);
}

#svcChecklist .ui-collapsible-heading {
	border-radius: 0px;
}

.feature-list {
	text-align: left;
	border-radius: 0px;
	/*width: 100%;*/
}

.ui-icon-check {
	background-color: green;
}

.feature-title {
	border-radius: 0px;
	width: 100%;
}


#map {
	position: margin;
	static: auto;
	height: 100%;
}

/*PING BUTTON FOR GOV TEAM*/
#searchButton {
	pointer-events: all;
	/*top: 50vh;*/
	position: absolute;
	top: -75px;
	left: calc(50% - 30px);
	margin: auto;
	width: 30px;
	height: 40px;
	box-shadow: 0px 1px 10px 5px rgba(0,0,0,0.2);
	border-radius: 50%;
	background: rgba(255,255,255,0.5);
	/*position: static;*/
}


/*<div>Icons made by <a href="http://www.flaticon.com/authors/daniel-bruce" title="Daniel Bruce">Daniel Bruce</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>*/
.ui-icon-specialeye:after {
	background-image: url("cssImages/specialeye.svg");
}
/* Fallback */
.ui-nosvg .ui-icon-specialeye:after {
	background-image: url("cssImages/specialeye.png");
}

.ui-icon-scan:after {
	background-image: url("cssImages/sidescan.png");
}
/* Fallback */
.ui-nosvg .ui-icon-scan:after {
	background-image: url("cssImages/sidescan.png");
}

/*SCAN BUTTON FOR INS TEAM*/
#scanButton {
	transition-duration: 0.2s;
	pointer-events: all;
	/*top: 50vh;*/
	position: absolute;
/*	top: calc(50vh - 30px);
left: calc(50% - 40px);*/
top: 50vh;
left: 50%;
transform: translate(-50%,-50%);
margin: auto;
	/*width: 30px;
	height: 40px;*/
	padding: 0.1em;
	width: 60px;
	height: 60px;
	box-shadow: 0px 1px 10px 5px rgba(0,0,0,0.2);
	border-radius: 50%;
	border: 6px solid transparent; //rgba(255,255,255,0.5);
	/*background-color: rgba(255,255,255,0.5);
	background-repeat: no-repeat;*/
}

#scanButton.scanAnim {
	-webkit-animation: scan ease 1s 3; /* Safari 4+ */
	-moz-animation:    scan ease 1s 3; /* Fx 5+ */
	-o-animation:      scan ease 1s 3; /* Opera 12+ */
	animation:         scan ease 1s 3;
}

#scanButton.hackAnim {
	-webkit-animation: hack ease 3s infinite; /* Safari 4+ */
	-moz-animation:    hack ease 3s infinite; /* Fx 5+ */
	-o-animation:      hack ease 3s infinite; /* Opera 12+ */
	animation:         hack ease 3s infinite;
}

#scanButton.scanIcon {
	background-color: rgba(255,255,255,0.5);
	background-repeat: no-repeat;
	background-image: url("cssImages/sidescan.svg");
	background-size: contain;
}

#scanButton.hackReady {
	border: 6px solid #FFDA44;
	width: 80px;
	height: 80px;
	background-color: rgba(255,255,255,0.5);
	background-repeat: no-repeat;
	background-image: url("cssImages/bolt-assym.svg");
	background-size: contain;
}

#scanButton.uploadProgress {
	background-color: rgba(255,255,255,0.5);
	width: 80px;
	height: 80px;
	//color: #FFDA44;
	font-size: 1.8em;
	line-height: 2.8em;
	font-weight: 100;
}

#scanButton.hackComplete {
	border: 6px solid #FFDA44;
	width: 80px;
	height: 80px;
	background-color: rgba(255,0,0,0.3);
	background-repeat: no-repeat;
	background-image: url("cssImages/exclamation.svg");
	background-size: contain;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.2em;
	font-size: 1.4em;
	line-height: 1em;
}

.scanSpinner {
	line-height: 0;
	width: 100px;
	height: 340px;
	//background-color: rgba(255,255,255,0.3);
	position: absolute;
	top: 50vh;
	left: 50%;
	transform: translate(-50%,-50%) rotate(30deg);
	transition-duration: 1s;
	opacity: 0;
}

.scanPointer {
	line-height: inherit;
	width: inherit;
	height: 95px;
	//background-color: rgba(255,255,0,1.0);
	background: linear-gradient(
		to top,
		rgba(255,255,0,1.0) 30%,
		rgba(255,255,0,0.0)
		);

}

.scanArrow {
	width: 0px;
	height: 0px;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 35px solid white;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.5em;
	padding-top: 1em;
}

.scanText {
	color: white;
	line-height: 1em;
	font-size: 1.8em;
	//font-weight: 400;
}

#pingContainer {

}

#searchPingImg {
	width: inherit;
	height: 100vh;
	top: 0px;
	margin: inherit;
	position: inherit;
	left: inherit;

	//width: 100%;
	//height: 100vh;
	//margin: auto;
	//position: fixed;
	//top: 0;
	//left: 0;
}



.onMapPingCircle {
	fill: rgba(255,255,255,0.0);
	r: 0;
}

.onMapPingCircle.run {
	-webkit-animation: ping ease 1s 1; /* Safari 4+ */
	-moz-animation: ping ease 1s 1; /* Fx 5+ */
	-o-animation: ping ease 1s 1; /* Opera 12+ */
	animation: ping ease 1s 1;

}

.pCircle.run {
	//animation: ping ease 1s 1;

	-webkit-animation: ping ease 1s 1; /* Safari 4+ */
	-moz-animation:    ping ease 1s 1; /* Fx 5+ */
	-o-animation:      ping ease 1s 1; /* Opera 12+ */
	animation:         ping ease 1s 1;
}

.captureCircle {
	position: absolute;
}

.playerPopup {
	text-align: center;
}

.playerPopup .leaflet-popup-content {
	text-align: center;
	padding: 10px 10px 5px 10px;
	line-height: 1.5em;
}


/*-------------------- ANIMATIONS --------------------*/

@keyframes hack {
	0%,100% {
		color: #FFDA44;
		border: 6px solid #FFDA44;
	}
	50% {
		color: #FF0000;
		border: 12px solid #FF0000;
	}
}
@-webkit-keyframes hack {
	0%,100% {
		color: #FFDA44;
		border: 6px solid #FFDA44;
	}
	50% {
		color: #FF0000;
		border: 12px solid #FF0000;
	}
}
@-moz-keyframes hack {
	0%,100% {
		color: #FFDA44;
		border: 6px solid #FFDA44;
	}
	50% {
		color: #FF0000;
		border: 12px solid #FF0000;
	}
}
@-o-keyframes hack {
	0%,100% {
		color: #FFDA44;
		border: 6px solid #FFDA44;
	}
	50% {
		color: #FF0000;
		border: 12px solid #FF0000;
	}
}

@keyframes scan {
	0% {
		transform: translate(-50%,-50%) rotate(0deg) scale(1);
	}
	50% {
		transform: translate(-50%,-50%) rotate(180deg) scale(1.5);
	}
	100% {
		transform: translate(-50%,-50%) rotate(360deg) scale(1);
	}
}
@-webkit-keyframes scan {
	0% {
		transform: translate(-50%,-50%) rotate(0deg) scale(1);
	}
	50% {
		transform: translate(-50%,-50%) rotate(180deg) scale(1.5);
	}
	100% {
		transform: translate(-50%,-50%) rotate(360deg) scale(1);
	}
}
@-moz-keyframes scan {
	0% {
		transform: translate(-50%,-50%) rotate(0deg) scale(1);
	}
	50% {
		transform: translate(-50%,-50%) rotate(180deg) scale(1.5);
	}
	100% {
		transform: translate(-50%,-50%) rotate(360deg) scale(1);
	}
}
@-o-keyframes scan {
	0% {
		transform: translate(-50%,-50%) rotate(0deg) scale(1);
	}
	50% {
		transform: translate(-50%,-50%) rotate(180deg) scale(1.5);
	}
	100% {
		transform: translate(-50%,-50%) rotate(360deg) scale(1);
	}
}


@keyframes ping {
	0% {
		fill: rgba(255,255,255,1.0);
		r: 0;
	}
	100% {
		fill: rgba(255,255,255,0.0);
		r: 800;
	}
}
@-webkit-keyframes ping {
	0% {
		fill: rgba(255,255,255,1.0);
		r: 0;
	}
	100% {
		fill: rgba(255,255,255,0.0);
		r: 800;
	}
}
@-moz-keyframes ping {
	0% {
		fill: rgba(255,255,255,1.0);
		r: 0;
	}
	100% {
		fill: rgba(255,255,255,0.0);
		r: 800;
	}
}
@-o-keyframes ping {
	0% {
		fill: rgba(255,255,255,1.0);
		r: 0;
	}
	100% {
		fill: rgba(255,255,255,0.0);
		r: 800;
	}
}


/*-------------------- MEDIA QUERIES --------------------*/
@media only screen and (max-width: 750px){

	#app {
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		right: 0;
		position: fixed; /*position: static;*/
	}
}


/*.ui-collapsible-content {
	box-shadow: 10px 0px 30px 0px rgba(0,0,0,0.3);
	}*/